
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
// Fuentes
$fuente_principal: 'Rubik', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$negro: #000000;
$amarillo: #FFEFCC;
$turqueza:#C6F4ED;
$blanco: #FFFFFF;
$gris: #e1e1e1;
$grisOscuro: #333333;
$rojo: #F8BFBF;
$morado-gris: #F1EBF6;
$lila: #F1DBFF;
$azul: #D7F7FF;
$turqueza-fuerte:#A7D3D3;

$separacion: 5rem;

// Fuentes

$delgada: 300;
$regular : 400;
$bold: 500;
$black: 700;