.color-amarillo{
    background-color: $amarillo;
    height: 15rem;
    width: 100%;
    margin: -2rem 0;
    p{
        color: $blanco;
        text-align: center;
        font-size: 2rem;
        margin: 2rem 0;
    }
}

.header{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    .borde{
        border: 1px solid #B3035B;
        margin: -6rem 12rem;
        padding: 1rem;
        border-radius: 50%;
        .contenedor-imagen{
            display: flex;
            justify-content: center;
            .imagen{
                width: 10rem;
                height: 10rem;
                border-radius: 50%;
                background-image: url(../../../build/img/definicion-de-persona-min.jpg);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
    }
      
    .nombre{
        text-align: center;
        font-size: 2.2rem;
        margin: 6rem 0 auto;
        font-weight: $bold;
    }
    .correo{
        text-align: center;
        margin: 0;
        font-size: 1.8rem;
        color: $grisOscuro;
    }
}